<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>
  <%= link_to 'Sign up now', "#", class: "btn btn-danger btn-xlarge" %> |
  <% link_to 'About', about_path  %> |
  <% link_to 'Who Am I', whoami_path  %>
</div>
